@model List<ConsultorioMedico.Models.Medico>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Medico? MedicoEncontrado = ViewData["MedicoEncontrado"] as Medico;
    ViewData.Remove("MedicoEncontrado");
}

<br />

<form asp-controller="AdminMedicos" asp-action="BuscarMedico" method="post" class="d-flex justify-content-center my-3">
    <div class="input-group" style="max-width: 400px">
        <input id="Barrabuscar" name="Nombre" class="form-control me-2" type="search" placeholder="Buscar : Nombre y Apellido">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </div>
</form>

<div class="row">
    <div class="card-body" style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
        <table class="table" style="min-width: 700px; table-layout: fixed;">
    <thead style="background-color:#19191a">
        <tr>
            <th scope="col" style="color:aliceblue">Nombre</th>
            <th scope="col" style="color:aliceblue">Apellido</th>
            <th scope="col" style="color:aliceblue">Contacto</th>
            <th scope="col" style="color:aliceblue">Especialidad</th>
            <th scope="col" style="color:aliceblue">Editar</th>
            <th scope="col" style="color:aliceblue">Eliminar</th>
        </tr>
    </thead>
    <tbody>

        @if(MedicoEncontrado != null)
        {
          
                <tr>
                    <td>@MedicoEncontrado.Nombre</td>
                    <td>@MedicoEncontrado.Apellido</td>
                    <td>@MedicoEncontrado.Contacto</td>
                    <td>@MedicoEncontrado.IdEspecialidadNavigation.Nombre</td>
                    <td><a asp-controller="AdminMedicos" asp-action="EditarMedico" asp-route-IdMedico="@MedicoEncontrado.Id" class="btn btn-secondary btn-sm">Editar</a></td>
                    <td><a asp-controller="AdminMedicos" asp-action="EliminarMedico" asp-route-Id="@MedicoEncontrado.Id" class="btn btn-danger btn-sm">Eliminar</a></td>

                </tr>

            
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.Contacto</td>
                    <td>@item.IdEspecialidadNavigation.Nombre</td>
                    <td><a asp-controller="AdminMedicos" asp-action="EditarMedico" asp-route-IdMedico="@item.Id" class="btn btn-secondary btn-sm">Editar</a></td>
                    <td><a asp-controller="AdminMedicos" asp-action="EliminarMedico" asp-route-Id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a></td>

                </tr>

            }
        }

    </tbody>
</table>
</div>
<script src="~/js/MisScripts.js"></script>
<input id="VariableAuxiliar" value="" type="hidden" />


<div class="d-flex justify-content-center my-3">
    <div class="input-group" style="max-width: 250px">
        <a class="btn btn-outline-success" asp-controller="AdminMedicos" asp-action="AgregarMedico">Agregar nuevo Especialista</a>
    </div>
</div>
</div>


