@model List<ConsultorioMedico.Models.Turno>;
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<table class="table" >
    <div class="card-header" style="background:#b4c5e4; justify-content:center; align-content:center; display:flex" >Turnos activos</div>
    <thead >
        <tr>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Fecha asignada</th>
            <th scope="col">Ver Turno</th>
            <th scope="col">Devolucion</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>

                <td>@item.IdPacienteNavigation.Nombre   @item.IdPacienteNavigation.Apellido</td>
                <td>@item.IdPacienteNavigation.Dni</td>
                <td>@item.FechaDeTurno</td>
                <td>
                    <a class="btn btn-success btn-sm" asp-controller="Servicios" asp-action="VerTurno" asp-route-id="@item.Id" asp-route-medico="@item.IdMedicoNavigation.Nombre @item.IdMedicoNavigation.Apellido"
                       asp-route-paciente="@item.IdPacienteNavigation.Nombre @item.IdPacienteNavigation.Apellido"
                       asp-route-motivo="@item.Motivo" asp-route-fecha="@item.FechaDeTurno">Ver turno</a>
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-controller="AdminMedicos" asp-action="Devolucion" asp-route-id="@item.Id" asp-route-medico="@item.IdMedicoNavigation.Nombre @item.IdMedicoNavigation.Apellido"
                       asp-route-paciente="@item.IdPacienteNavigation.Nombre @item.IdPacienteNavigation.Apellido"
                       asp-route-motivo="@item.Motivo" asp-route-DNI="@item.IdPacienteNavigation.Dni"
                    asp-route-especialidad="@item.IdMedicoNavigation.IdEspecialidadNavigation.Nombre">Enviar Devolucion</a>
                </td>
                <td>Pendiente</td>

                </tr>
            }
    </tbody>
</table>



<br />



<table class="table">
    <div class="card-header" style="background:#b4c5e4; justify-content:center; align-content:center; display:flex">Historial de turnos finalizados</div>
    <thead>
        <tr>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Devolucion</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model)
            {
                <tr>

                <td>@item.IdPacienteNavigation.Nombre @item.IdPacienteNavigation.Apellido</td>
                <td>@item.IdPacienteNavigation.Dni</td>
                <td><a class="btn btn-secondary btn-sm">Editar devolucion</a></td>
                <td>Finalizado</td>

                </tr>
            }
        
    </tbody>
</table>

