@model ConsultorioMedico.Models.Turno;
@{
    ViewData["Title"] = "VerDevolucion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" style="width:400px"></div>
    <div class="card h-100" style="width:600px">
        <div class="card" style="top:10px">
            <img src="https://osperyh.org.ar/wp-content/uploads/2023/12/turnos-medicos.jpg" style="object-fit: cover; width: 100%; height: 200px;" alt="Error" />
        </div>
        <div class="card-body">
            <form >
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <label class="form-label">Medico</label>
                        <input name="Medico" style="width:150px" class="form-control" value="@Model.IdMedicoNavigation.Nombre @Model.IdMedicoNavigation.Apellido" readonly />
                    </div>

                    <div class="col">
                        <label class="form-label">Especialidad</label>
                        <input name="Especialidad" style="width:150px" class="form-control" value="@Model.IdMedicoNavigation.IdEspecialidadNavigation.Nombre" readonly />
                    </div>

                    <div class="col">
                        <label class="form-label">Paciente</label>
                        <input name="Paciente" style="width:150px" class="form-control" value="@Model.IdPacienteNavigation.Nombre @Model.IdPacienteNavigation.Apellido" readonly />
                    </div>

                    <br />
                    <div class="col">
                        <label class="form-label">Paciente( DNI )</label>
                        <input name="DNI" style="width:150px" class="form-control" value="@Model.IdPacienteNavigation.Dni" readonly />
                    </div>

                </div>
                <div class="mb-3" style="overflow:scroll">
                    <label class="form-label">Motivo</label>
                    <textarea name="Motivo" id="BarraDeMotivo" class="form-control" rows="2" readonly>@Model.Motivo</textarea>
                </div>
                <div class="mb-3"></div>
                <div class="mb-3">
                    <label class="form-label">Devolucion</label>
                    <textarea name="Devolucion" id="BarraDeMotivo" class="form-control" rows="3" readonly>@Model.Devolucion</textarea>
                </div>

                <a class="btn btn-primary" asp-controller="Home" asp-action="Perfil">Volver</a>
            </form>
        </div>
        <script src="~/js/MisScripts.js"></script>
    </div>
</div>

